/* root declaration */
:root {
  --primary-background: #f5f8fa;
  --header-text-color: #c9d0d9;
  --white: #ffffff;
}

/* style resets */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--primary-background);
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.order-table {
  width: 100%;
}

.order-table input[type="checkbox"] {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #dbdde2;
  background-color: white;
  display: flow-root;
}
.order-table th {
  color: var(--header-text-color);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 15px 0;
}

.order-table tbody tr td {
  border-top: 1px solid #e1e6eb;
  border-bottom: 1px solid #e1e6eb;
  background-color: var(--white);
  font-size: 14px;
  font-weight: 300;
  padding: 15px 10px;
}

.order-table tr th:first-child {
  padding-left: 15px;
}

.order-table tr th:last-child {
  padding-right: 15px;
}
.order-table tbody tr td:first-child {
  border-radius: 4px 0 0 4px;
  border-left: 1px solid #e1e6eb;
  padding-left: 15px;
}
.order-table tbody tr td:last-child {
  border-radius: 0px 4px 4px 0px;
  border-right: 1px solid #e1e6eb;
  padding-right: 15px;
}
/* border-radius: 4px; */
